{
  "folders": [
    {
      "name": "test_{{ sourcename }}",
      "description": "test folder",
      "path": "./"
    }
  ],
  "extensions": {
    "recommendations": [
      "robinbreast.vscode-cyagen",
      "alexdima.vscode-lcov",
      "matepek.vscode-catch2-test-adapter"
    ],
  },
  "settings": {
    "vscode-cyagen.currentTargetSource": "{{ sourcedirname | safe }}/{{ sourceFileName }}",
    "lcov.path": "build/cleaned_coverage.info",
    "github.copilot.chat.testGeneration.instructions": [
      "file": ".copilot-test-instructions.md"
    ]
  },
}