cmake_minimum_required(VERSION 3.14)
project(test_{{ sourcename }})

# GoogleTest requires at least C++14
set(CMAKE_CXX_STANDARD 14)
cmake_policy(SET CMP0135 NEW)

include(FetchContent)
FetchContent_Declare(
  googletest
  URL https://github.com/google/googletest/archive/03597a01ee50ed33e9dfd640b249b4be3799d395.zip
)
# For Windows: Prevent overriding the parent project's compiler/linker settings
set(gtest_force_shared_crt ON CACHE BOOL "" FORCE)
FetchContent_MakeAvailable(googletest)

enable_testing()
# MANUAL SECTION: {{ generateUUID(sourcename ~ "cmake-default") }}
# MANUAL SECTION END
include_directories(
  {{ sourcedirname | safe }}
# MANUAL SECTION: {{ generateUUID(sourcename ~ "cmake-incdirs") }}
# MANUAL SECTION END
)
add_executable(
    test_{{ sourcename }}
    test_{{ sourcename }}.cc
# MANUAL SECTION: {{ generateUUID(sourcename ~ "cmake-sources") }}
# MANUAL SECTION END
)
target_link_libraries(
    test_{{ sourcename }}
    GTest::gtest_main
    GTest::gmock_main
# MANUAL SECTION: {{ generateUUID(sourcename ~ "cmake-linklibs") }}
# MANUAL SECTION END
)
include(GoogleTest)
gtest_discover_tests(test_{{ sourcename }})
