/// this is generated googletest script based on {{ sourcename }}.c

#include <gtest/gtest.h>
#include <gmock/gmock.h>

extern "C" {
// MANUAL SECTION: {{ generateUUID(sourcename ~ "extern") }}
// MANUAL SECTION END

  // include SUT
  #include "{{ sourcename }}.c"
}

// MANUAL SECTION: {{ generateUUID(sourcename ~ "global") }}
// MANUAL SECTION END

{% for fnc in fncs -%}
/// define a test case for the {{ fnc.name }} function
TEST(Test_{{ sourcename }}Test, {{ fnc.name }}) {
  // MANUAL SECTION: {{ generateUUID(fnc.name) }}
  // MANUAL SECTION END
}
{% endfor %}
{% for fnc in fncs -%}
{% for ncl in ncls -%}
{% if fnc.name == ncl.callee.name -%}
// {{ ncl.caller.name }} calls {{ ncl.callee.name }}
{% endif -%}
{% endfor -%}
{% endfor %}
int main(int argc, char **argv) {
  ::testing::InitGoogleTest(&argc, argv);
  return RUN_ALL_TESTS();
}